/*---------------
    Resets
---------------*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background: transparent;
}

/*---------------
    Global
---------------*/
:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: Montserrat, Roboto, Gotham, Avenir, sans-serif;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  /* dark */
  --clr-dark-000: #f1f3f5;
  --clr-dark-200: #dee2e6;
  --clr-dark-400: #adb5bd;
  --clr-dark-600: #495057;
  --clr-dark-700: #343a40;
  --clr-dark-800: #212529;
  --clr-dark-900: #171a1c;
  --clr-dark-1000: #000000;

  /* light */
  --clr-light-400: #fff;

  /* Shadow */
  --shadow-box: 0px 5px 10px rgba(0, 0, 0, 0.1);
  --shadow-txt: 0px 0px 10px rgba(0, 0, 0, 0.4);

  /* Border radius */
  --br: 2px;



 
  
  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

/*---------------
    Typography
---------------*/

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
}

h1 {
  font-size: 4.883rem;
}

h2 {
  font-size: 3.906rem;
}

h3 {
  font-size: 3.125rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

p,
a {
  font-size: 1.6rem;
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
